@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Access token: @ViewBag.AccessToken </p>
    <p>Identity token: @ViewBag.IdentityToken</p>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
</div>
